------------------------------------------------------------------------------------
*.[html php]
Underlag
sitemap.xml
robots.txt
*.woff
*.woff2
------------------------------------------------------------------------------------
